.container {
  padding: 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 300;
}
.container2 {
  padding: 0px 0px;
  display: flex;
  align-items: center;
  font-weight: 300;
}
.navbar {
  height: 80px;
  width: 100%;
  background-color: white;
  padding-top: 1%;
  border-bottom:5px solid  rgb(208,74,2);
  /* border-radius: 40px 40px 0px 0px; */
 
  /* position: fixed; */
}


.logoContainer {
  display: flex;
  justify-content: space-around; 
  align-items: left;  
}

.logo {
    display: flex;
  width: 20%;
  height: 20%;
 
}
.btn {
  display: inline-block;
  background-color: blue;
  color: white;
  letter-spacing: 0.5px;
  padding: 15px 16px;
  border-radius: 60px;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in;
  font-weight: 400;
  align-items: center;
}
.btn:hover {
  background-color: white;
  color: blue;
  padding: 10px 20px;
}
.btn:active {
  transform: translateY(-4px);
  box-shadow: 0px 6px 4px blue;
}
a{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
